<section id="map-overlay">

    <div class="container clearfix">

        <!-- Contact Form Overlay
        ============================================= -->
        <div id="contact-form-overlay-mini" class="clearfix">

            <div class="fancy-title title-dotted-border">
                <h3>Information</h3>
            </div>

            <div class="contact-widget">

                <div class="contact-form-result"></div>

                <!-- Contact Form
                ============================================= -->
                <form class="nobottommargin" id="template-contactform" name="template-contactform">
                    <div class="col_full">
                        <label>Venue</label>
                        <p><span>루프탑720, 홍대</span></br>
                        마포구 서교동 369-44, 5층</br>
                        </p>
                    </div>
                    <div class="col_full">
                        <label>TIME</label>
                        <p>0700PM - 0200AM</p>
                    </div>

                    <div class="col_full">
                        <label>DJ LINEUP</label>
                        <p>2Flash, Caleb, Dopemine, RR, Seoelfeo </br><span>(In Alphabetical Order)</span></p>
                    </div>

                    <div class="col_full">
                        <label>Information</label>
                        <p>010.7478.0780</p>
                    </div>

                </form>

            </div>


        </div><!-- Contact Form Overlay End -->

    </div>

    <!-- Google Map
    ============================================= -->
    <section id="google-map" class="gmap"></section>

</section><!-- Contact Form & Map Overlay Section End -->
