<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    {% if site.google_analytics %}
    {% include analytics.html %}
    {% endif %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

    <!-- Stylesheets
    ============================================= -->
    {% for path in site.data.assets.css %}

    {%- if path contains '://' -%}
    {%- assign href = path -%}
    {%- else -%}
    {%- assign href = path -%}
    {%- endif -%}
    <link rel="stylesheet" href="{{ href }}">
    {% endfor %}

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">


<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i" rel="stylesheet" type="text/css" />
<meta name="viewport" content="width=device-width, initial-scale=1" />


</head>
