<header id="header" class="transparent-header full-header" data-sticky-class="not-dark">

    <div id="header-wrap">

        <div class="container clearfix">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <!-- Logo
            ============================================= -->
            <div id="logo" class="align-content-center">
                <a href="/"><h1>DIML</h1></a>
            </div><!-- #logo end -->

            <!-- Primary Navigation
            ============================================= -->
            <nav id="primary-menu">

                <ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1500">
                    <li><a href="/" data-href="#main"><div>Main</div></a></li>
                    <li><a href="/" data-href="#section-overview"><div>Overview</div></a></li>
                    <li><a href="/" data-href="#section-sampledata"><div>Sample Data</div></a></li>
                    <li><a href="/rawdata"><div>Raw Data</div></a></li>
                    <li><a href="/" data-href="#map-overlay"><div>Contact</div></a></li>
                    <li><a href="http://diml.yonsei.ac.kr"><div>Lab</div></a></li>
                </ul>

                <!-- Top Search
                ============================================= -->
                <div id="top-search">
                    <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
                    <form action="search.html" method="get">
                        <input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
                    </form>
                </div><!-- #top-search end -->

            </nav><!-- #primary-menu end -->

        </div>

    </div>

</header><!-- #header end -->
