<div>

  </div>
<div class="container clearfix">
  <div class="row clearfix">

    <div class="col-xl-5">
      <div class="heading-block topmargin">
        <h1>순수한 마음으로.</h1>
      </div>
      <p class="lead" data-animate="fadeIn" data-delay=400>사람이 좋아서, 음악이 좋아서, 날씨가 좋아서. 각자 이유는 다르지만 우리는 이 곳에 모였습니다. 함께 웃고, 토론하고, 사랑하며 서로의 소중한 인연이 됩니다. 이렇게 만난 인연으로 인해, 우리 인생의 궤도는 조금씩 달라집니다.</p>
            <p class="lead" data-animate="fadeIn" data-delay=800>저희 6명이 모여, 새로운 인연의 장을 마련했습니다.
            <br />이 곳에서 상상을 실현하세요.</p>
    </div>

    <div class="col-xl-7">

      <div style="position: relative;" class="ohidden" data-height-xl="426" data-height-lg="567" data-height-md="470" data-height-md="287" data-height-xs="183">
      <!--  margin-bottom: -60px; -->
        <img src="/images/invitation/1.jpg" style="position: absolute; top: 0; left: 0;" data-animate="fadeIn" data-delay="1400" alt="people">
      </div>

    </div>

  </div>
</div>

<div class="container clearfix">
  <div class="clearfix">
        <div class="section center nobg">
        <h1 class="h1 t700" data-animate="fadeInUp" data-delay="100">정성껏 준비했습니다.</h1>
        <h1 class="h1 t700" data-animate="fadeInUp" data-delay="800">소중한 당신을 초대합니다.</h1></br>
        <img src="/images/invitation/3.jpg" data-animate="rotateInUpRight" data-delay="1200" alt="iPad">

      </div>
  </div>
</div>
