<section id="slider" class="slider-element slider-parallax full-screen force-full-screen ohidden">

  <div class="slider-parallax-inner">

    <div class="full-screen force-full-screen section nopadding nomargin noborder ohidden">

      <div class="container clearfix">&nbsp;</div>
      <div class="video-wrap">
        <video poster="images/videos/cover.jpg" preload="auto" loop autoplay muted>
          <source src='images/videos/cover_min.mp4' type='video/mp4' />
          <source src='images/videos/cover_min.webm' type='video/webm' />
        </video>
      </div>

      <div class="container-fluid vertical-middle dark center clearfix" style="z-index: 2;">
        <div class="wedding-head clearfix">
          <div class="first-name">ROOFTOP </br>PARTY</div>
          <div class="and">&amp;</div>
          <div class="last-name">SSSH<span>상상실현</span></div>
        </div>
        <div class="divider divider-short divider-center"><i class="icon-heart3"></i></div>
        <p class="lead">Getting <strong>Hitched</strong> on:</p>
        <div id="countdown" class="countdown countdown-large coming-soon divcenter" style="max-width:700px;"></div>

      </div>

    </div>

  </div>

</section>

<!--
<section id="slider" class="slider-element slider-parallax full-screen force-full-screen ohidden">

  <div class="slider-parallax-inner">

    <div class="full-screen force-full-screen section nopadding nomargin noborder ohidden">
      <div class="container clearfix">&nbsp;</div>
      <div class="video-wrap">
        <video poster="/images/videos/cover.png" preload="auto" loop autoplay muted>
          <source src='/images/videos/cover_min.mp4' type='video/mp4' />
          <source src='images/videos/cover_min.webm' type='video/webm' />
        </video>
      </div>

      <div class="container-fluid vertical-middle dark center clearfix" style="z-index: 2;">

        <div class="wedding-head clearfix">
          <div class="first-name">ROOFTOP </br>PARTY</div>
          <div class="and">&amp;</div>
          <div class="last-name">SSSH<span>상상실현</span></div>
        </div>

        <div class="divider divider-short divider-center"><i class="icon-heart3"></i></div>

        <p class="lead">Getting <strong>Hitched</strong> on:</p>

        <div id="countdown" class="countdown countdown-large coming-soon divcenter" style="max-width:700px;"></div>

      </div>

    </div>

  </div>

</section> -->
