<div class="row">
    {% for member in site.data.team %}
    <div class="col-4 col-lg-2  bottommargin" style="padding: 0 5px;">
      <div class="team">
        <div class="team-image">
          <img src="images/team/{{member.photo}}.jpg" alt="{{member.name}}">
        </div>
        <div class="team-desc">
          <div class="team-title"><h4>{{member.name}}</h4><span>{{member.role}}</span></div>
          <div class="team-content d-none d-md-block">{{member.comment}}</div>
          <a href="{{member.facebook}}" class="social-icon inline-block si-small si-light si-rounded si-facebook">
            <i class="icon-facebook"></i>
            <i class="icon-facebook"></i>
          </a>
          <a href="{{member.instagram}}" class="social-icon inline-block si-small si-light si-rounded si-instagram">
            <i class="icon-instagram"></i>
            <i class="icon-instagram"></i>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
</div>
