<video poster="images/videos/cover.png" preload="auto" controls style="display: block; width: 100%;" muted autoplay>
  <source src='images/videos/cover.webm' type='video/webm' />
  <source src='images/videos/cover.mp4' type='video/mp4' />
</video>

<div class="divider"><i class="icon-circle"></i></div>

<!-- <div class="slider-parallax-inner">
  <div class="full-screen force-full-screen section nopadding nomargin noborder ohidden">
    <div class="container clearfix">&nbsp;</div>
    <div class="video-wrap">
      <video poster="/images/videos/cover.png" preload="auto" loop autoplay muted>
        <source src='/images/videos/cover_min.mp4' type='video/mp4' />
        <source src='images/videos/cover_min.webm' type='video/webm' />
      </video>
      <div class="video-overlay" style="background-color: rgba(0,0,0,0.55);"></div>
    </div>
  </div>
</div> -->
